
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marcellus&display=swap');

@import "../node_modules/bootstrap/scss/functions"; 
@import "../node_modules/bootstrap/scss/mixins";

$primary: #57c377;

$font-size-base: 1.35rem;

@import "../node_modules/bootstrap/scss/variables";

$spacers : map-merge(
  (
    6: $spacer * 6,
    7: $spacer * 12,
    8: $spacer * 24
  ) ,$spacers );

$theme-colors : map-merge(
  (
  'lightgray': #F4F4F4,
  'footer-black':#1A1A1A,
  ) ,$theme-colors);

$font-sizes : map-merge(
  (
    55: $font-size-base * 1.15,
    65: $font-size-base * 0.87,
    7: $font-size-base * 0.75,
    75: $font-size-base * 0.62,
    8: $font-size-base * 0.5
  ),
  $font-sizes
);

$font-family-base: 'Lato', serif;


@import "bootstrap";

.text-heading {
  font-family: marcellus, serif;
}

.translucent-black-background {
  background-color: rgba(0, 0, 0, 0.20);
}

.div-line {
  height: 6px;
}

.footer-image-fix {
  transform: translateY(-52px) rotateZ(-10deg) !important;
  object-fit: cover;
  width: 151px;
  // transform: ;
}

.fade-in{
  opacity: 1;
  transition:opacity 0.1s ease-in;
}
.underlap-fix{
  z-index: 100;
}

.fade-out{
  opacity: 0;
  transition:opacity 1s ease-out;
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

@include media-breakpoint-down(xl){
  .footer-image-fix {
    transform: translateY(-52px) rotateZ(-10deg) !important;
    width:100px;
    object-fit: cover;
    // transform: ;
  }
}
@include media-breakpoint-down(lg){
  .footer-image-fix {
    transform: translateY(-52px) rotateZ(-10deg) !important;
    width:70px;
    object-fit: cover;
    // transform: ;
  }
}

@include media-breakpoint-down(lg){
  .footer-image-fix {
    transform: translateY(-20px) rotateZ(-10deg) !important;
    width:70px;
    object-fit: cover;
    // transform: ;
  }
}


@include media-breakpoint-up(xs) {
  .navbar-logo{
    width:140px;
  }
  .tea-image{
    width: 300px;
  }
  .header-video{
    width: 100%;
  }
  .some-plant{
    width:130px;
  }
  .story-image-block {
    img {
      width: 100px;
    }
  }
  .survey-form-center{
    width: 100%;
  }

}

@include media-breakpoint-up(sm) {
  .story-image-block {
    img {
      width: 175px;
    }
  }
  .survey-form-center{
    width: 600px;
  }
  .story-image-block {
    img {
      width:120px;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar-logo{
    width:140px;
  }
  .tea-image{
    width: 400px;
  }
  .header-video{
    width: 750px;
  }
    .some-plant{
    width:200px;
  }
  .story-image-block {
    img {
      width:128px;
    }
  }

}

@include media-breakpoint-up(lg) {
  .navbar-logo{
    width:140px;
  }
  .tea-image{
    width: 500px;
    overflow-x: hidden;
  }
}

@include media-breakpoint-up(xl) {
  .header-video{
    width: 1100px;
  }

}




@include media-breakpoint-down(md) {
  .forest-image {
    height: 600px;
    object-fit: cover;
  }
}

@include media-breakpoint-only(md) {
  .forest-image {
    height: 700px;
    object-fit: cover;
  }
}

@include media-breakpoint-only(lg) {
  .forest-image {
    height: 800px;
    object-fit: cover;
  }  
}  

@include media-breakpoint-only(xl) {
  .forest-image {
    height: 1000px;
    object-fit: cover;
    overflow: hidden;
  }  
}  

:root{
  @include media-breakpoint-down(sm){
    --bs-body-font-size: 0.9rem;
  }
}

$font-sizes : map-merge(
  (
    65: $font-size-base * 0.87,
    7: $font-size-base * 0.75,
    75: $font-size-base * 0.62,
    8: $font-size-base * 0.5
  ),
  $font-sizes
);
