
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marcellus&display=swap');

@import "../node_modules/bootstrap/scss/functions"; 

$primary: #57c377;

@import "../node_modules/bootstrap/scss/variables";

$spacers : map-merge(
  (
    6: $spacer * 6,
    7: $spacer * 12,
    8: $spacer * 24
  ) ,$spacers );

$theme-colors : map-merge(
  (
  'lightgray': #F4F4F4
  ) ,$theme-colors);

$font-family-base: 'Lato', serif;

@import "bootstrap";

.text-heading {
  font-family: marcellus, serif;
}

.translucent-black-background {
  background-color: rgba(0, 0, 0, 0.43);
}