
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marcellus&display=swap');

@import "../node_modules/bootstrap/scss/functions"; 

$primary: #57c377;

@import "../node_modules/bootstrap/scss/variables";

$spacers : map-merge(
  (
    6: $spacer * 6,
    7: $spacer * 12,
    8: $spacer * 24
  ) ,$spacers );

$theme-colors : map-merge(
  (
  'lightgray': #F4F4F4,
  'footer-black':#1A1A1A,
  ) ,$theme-colors);

$font-family-base: 'Lato', serif;

@import "bootstrap";

.text-heading {
  font-family: marcellus, serif;
}

.translucent-black-background {
  background-color: rgba(0, 0, 0, 0.43);
}

.div-line {
  height: 6px;
}
@include media-breakpoint-up(xs) {
  .navbar-logo{
    width:90px;
  }
  .tea-image{
    width: 300px;
  }
}

@include media-breakpoint-up(md) {
  .navbar-logo{
    width:100px;
  }
  .tea-image{
    width: 400px;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-logo{
    width:140px;
  }
  .tea-image{
    width: 500px;
  }
}





@include media-breakpoint-only(xl) {
  .forest-image {
    height: 1000px;
    object-fit: cover;
  }
}
@include media-breakpoint-only(lg) {
  .forest-image {
    height: 800px;
    object-fit: cover;
  }
}

@include media-breakpoint-only(md) {
  .forest-image {
    height: 700px;
    object-fit: cover;
  }
}

@include media-breakpoint-between(xs, sm) {
  .forest-image {
    height: 600px;
    object-fit: cover;
  }
}
